@tailwind base;
@tailwind components;
@tailwind utilities;



.input {
    @apply w-full p-[2cqw] rounded-[1cqw] md:p-[1cqw] md:rounded-[0.6cqw] border-gray-400 border-[0.3cqw] md:border-[0.07cqw] outline-none border-opacity-20 mt-[1cqw] md:mt-[0.5cqw] ;
}

.error-text {
    @apply text-red-500 text-[3.2cqw] md:text-[0.75cqw] pt-[1cqw] md:pt-[0.2cqw]
}

.label-submitted {
  @apply text-[4cqw] md:text-[0.85cqw] font-inter;
}

.data-submitted {
  @apply text-[4cqw] md:text-[1cqw] font-inter font-bold;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .custom-select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    padding-right: 30px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="%236C737F" d="M0 0l5 6 5-6z"/></svg>'); /* Custom down arrow with color */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
  }
  
  .custom-select:focus {
    outline: none;
  }
  